In [25]:
import pandas as pd

In [26]:
df_rating = pd.read_csv('book rental datasets/book rental datasets/BX-Book-Ratings.csv')
df_book = pd.read_csv('book rental datasets/book rental datasets/BX-Books.csv')
df_user = pd.read_csv('book rental datasets/book rental datasets/BX-Users.csv')
df_recommend = pd.read_csv('book rental datasets/book rental datasets/Recommend.csv')

C:\Users\gokulnath.kandasamy\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\gokulnath.kandasamy\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [27]:
df_book.head()

,isbn,book_title,book_author,year_of_publication,publisher
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,60973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

In [28]:
df_book.shape

(271379, 5)

In [29]:
df_book.columns

Index(['isbn', 'book_title', 'book_author', 'year_of_publication',
       'publisher'],
      dtype='object')

In [30]:
# Cleaning NAN values
df_book.isna().sum()

isbn                   0
book_title             0
book_author            1
year_of_publication    0
publisher              2
dtype: int64

In [31]:
df_book = df_book.dropna(subset=['book_author', 'publisher'])
df_book.columns

Index(['isbn', 'book_title', 'book_author', 'year_of_publication',
       'publisher'],
      dtype='object')

In [32]:
df_book.shape

(271376, 5)

In [33]:
df_book.isna().sum()

isbn                   0
book_title             0
book_author            0
year_of_publication    0
publisher              0
dtype: int64

In [34]:
df_rating.head()

   user_id        isbn  rating
0   276725  034545104X       0
1   276726   155061224       5
2   276727   446520802       0
3   276729  052165615X       3
4   276729   521795028       6

In [35]:
df_rating = df_rating.drop (df_rating.index[df_rating['rating']==0].tolist())

In [36]:
df_rating.head()

   user_id        isbn  rating
1   276726   155061224       5
3   276729  052165615X       3
4   276729   521795028       6
6   276736  3257224281       8
7   276737   600570967       6

In [37]:
len(df_rating['user_id'].unique())

70642

In [38]:
len(df_rating['isbn'].unique())

174921

In [39]:
# Convert isbn to numeric values
df_rating['isbn'] = pd.to_numeric (df_rating['isbn'],errors = 'coerce')
df_rating.fillna ( value=0 ,inplace= True)
df_rating

         user_id          isbn  rating
1         276726  1.550612e+08       5
3         276729  0.000000e+00       3
4         276729  5.217950e+08       6
6         276736  3.257224e+09       8
7         276737  6.005710e+08       6
...          ...           ...     ...
1048430   250764  3.804866e+08       5
1048446   250764  3.807786e+08      10
1048494   250764  4.390986e+08       8
1048509   250764  4.402127e+08       9
1048571   250764  4.522645e+08       8

[397245 rows x 3 columns]

In [40]:
# Convert used_id to numeric values in correct order
df_rating['user_id'] = pd.to_numeric( df_rating['user_id'] , errors = 'coerce' )
df_rating.fillna ( value = 0 , inplace=True)
df_rating

         user_id          isbn  rating
1         276726  1.550612e+08       5
3         276729  0.000000e+00       3
4         276729  5.217950e+08       6
6         276736  3.257224e+09       8
7         276737  6.005710e+08       6
...          ...           ...     ...
1048430   250764  3.804866e+08       5
1048446   250764  3.807786e+08      10
1048494   250764  4.390986e+08       8
1048509   250764  4.402127e+08       9
1048571   250764  4.522645e+08       8

[397245 rows x 3 columns]

In [42]:
a = list (df_rating['user_id'])
a.sort
a

[276726,
 276729,
 276729,
 276736,
 276737,
 276744,
 276745,
 276747,
 276747,
 276747,
 276747,
 276747,
 276748,
 276751,
 276754,
 276755,
 276760,
 276762,
 276762,
 276762,
 276762,
 276768,
 276772,
 276772,
 276772,
 276774,
 276780,
 276780,
 276786,
 276786,
 276786,
 276786,
 276788,
 276788,
 276788,
 276796,
 276798,
 276798,
 276798,
 276800,
 276804,
 276808,
 276811,
 276812,
 276813,
 276813,
 276813,
 276813,
 276813,
 276813,
 276813,
 276814,
 276814,
 276814,
 276820,
 276822,
 276822,
 276822,
 276822,
 276822,
 276822,
 276822,
 276822,
 276822,
 276822,
 276822,
 276822,
 276822,
 276822,
 276822,
 276827,
 276828,
 276830,
 276832,
 276835,
 276837,
 276842,
 276847,
 276847,
 276847,
 276847,
 276847,
 276847,
 276847,
 276847,
 276847,
 276847,
 276847,
 276847,
 276847,
 276847,
 276847,
 276847,
 276847,
 276847,
 276847,
 276847,
 276847,
 276847,
 276847,
 276847,
 276847,
 276847,
 276847,
 276847,
 276847,
 276847,
 276847,
 276847,
 276847,
 276847,
 276847,
 276847,
 276848,
 276850,
 276853,
 276853,
 276854,
 276854,
 276857,
 276859,
 276859,
 276859,
 276859,
 276859,
 276859,
 276859,
 276859,
 276859,
 276861,
 276861,
 276861,
 276861,
 276861,
 276861,
 276861,
 276861,
 276861,
 276861,
 276861,
 276861,
 276862,
 276862,
 276863,
 276866,
 276866,
 276866,
 276866,
 276866,
 276866,
 276866,
 276866,
 276866,
 276866,
 276866,
 276870,
 276872,
 276872,
 276872,
 276872,
 276872,
 276872,
 276872,
 276872,
 276873,
 276875,
 276875,
 276875,
 276875,
 276875,
 276875,
 276875,
 276875,
 276875,
 276875,
 276875,
 276875,
 276875,
 276875,
 276875,
 276875,
 276875,
 276875,
 276875,
 276878,
 276879,
 276884,
 276884,
 276887,
 276887,
 276888,
 276896,
 276904,
 276904,
 276904,
 276904,
 276904,
 276905,
 276905,
 276911,
 276911,
 276911,
 276912,
 276912,
 276915,
 276916,
 276925,
 276925,
 276925,
 276925,
 276925,
 276925,
 276925,
 276925,
 276925,
 276925,
 276925,
 276925,
 276925,
 276925,
 276925,
 276925,
 276925,
 276925,
 276927,
 276927,
 276928,
 276928,
 276928,
 276928,
 276928,
 276929,
 276929,
 276929,
 276929,
 276929,
 276929,
 276929,
 276929,
 276929,
 276929,
 276929,
 276929,
 276929,
 276929,
 276929,
 276929,
 276929,
 276929,
 276929,
 276929,
 276929,
 276929,
 276929,
 276929,
 276929,
 276929,
 276929,
 276929,
 276929,
 276929,
 276929,
 276929,
 276929,
 276929,
 276934,
 276936,
 276936,
 276936,
 276939,
 276939,
 276939,
 276939,
 276939,
 276939,
 276939,
 276939,
 276939,
 276939,
 276939,
 276939,
 276939,
 276949,
 276953,
 276953,
 276953,
 276954,
 276954,
 276954,
 276954,
 276954,
 276957,
 276959,
 276964,
 276964,
 276964,
 276964,
 276964,
 276964,
 276964,
 276964,
 276964,
 276964,
 276964,
 276964,
 276964,
 276964,
 276964,
 276964,
 276964,
 276964,
 276964,
 276965,
 276984,
 276984,
 276984,
 276984,
 276984,
 276984,
 276984,
 276984,
 276984,
 276984,
 276984,
 276984,
 276984,
 276984,
 276986,
 276986,
 276986,
 276986,
 276988,
 276988,
 276988,
 276988,
 276988,
 276990,
 276990,
 276992,
 276994,
 276994,
 276994,
 276994,
 276994,
 276994,
 276994,
 276994,
 276994,
 276994,
 276994,
 276994,
 276994,
 276994,
 276994,
 276998,
 276998,
 277002,
 277007,
 277009,
 277010,
 277012,
 277012,
 277012,
 277018,
 277018,
 277018,
 277023,
 277028,
 277031,
 277032,
 277036,
 277036,
 277036,
 277042,
 277042,
 277042,
 277042,
 277042,
 277042,
 277042,
 277048,
 277051,
 277051,
 277051,
 277051,
 277051,
 277051,
 277051,
 277051,
 277051,
 277051,
 277052,
 277053,
 277056,
 277058,
 277058,
 277065,
 277072,
 277074,
 277079,
 277085,
 277085,
 277087,
 277087,
 277087,
 277087,
 277087,
 277087,
 277087,
 277087,
 277087,
 277087,
 277087,
 277087,
 277087,
 277087,
 277087,
 277087,
 277087,
 277090,
 277094,
 277096,
 277107,
 277107,
 277107,
 277107,
 277107,
 277107,
 277109,
 277109,
 277109,
 277116,
 277124,
 277124,
 277124,
 277124,
 277128,
 277128,
 277129,
 277134,
 277135,
 277139,
 277143,
 277143,
 277143,
 277157,
 277157,
 277157,
 277157,
 277157,
 277157,
 277157,
 277157,
 277157,
 277157,
 277157,
 277157,
 277157,
 277157,
 277157,
 277157,
 277157,
 277157,
 277157,
 277157,
 277157,
 277157,
 277157,
 277157,
 277157,
 277157,
 277157,
 277157,
 277157,
 277157,
 277157,
 277159,
 277165,
 277168,
 277168,
 277168,
 277170,
 277170,
 277171,
 277171,
 277171,
 277171,
 277171,
 277171,
 277171,
 277171,
 277171,
 277179,
 277179,
 277186,
 277186,
 277186,
 277186,
 277186,
 277186,
 277187,
 277188,
 277188,
 277189,
 277195,
 277195,
 277195,
 277195,
 277195,
 277195,
 277195,
 277195,
 277195,
 277195,
 277196,
 277196,
 277197,
 277197,
 277197,
 277197,
 277203,
 277203,
 277203,
 277203,
 277203,
 277203,
 277203,
 277203,
 277203,
 277203,
 277203,
 277203,
 277203,
 277203,
 277203,
 277203,
 277203,
 277203,
 277203,
 277203,
 277203,
 277203,
 277203,
 277203,
 277203,
 277203,
 277203,
 277203,
 277203,
 277203,
 277203,
 277203,
 277203,
 277203,
 277203,
 277203,
 277203,
 277203,
 277203,
 277203,
 277203,
 277203,
 277203,
 277203,
 277203,
 277203,
 277203,
 277203,
 277203,
 277203,
 277203,
 277203,
 277205,
 277212,
 277220,
 277221,
 277228,
 277228,
 277229,
 277230,
 277230,
 277230,
 277231,
 277232,
 277235,
 277235,
 277235,
 277237,
 277240,
 277242,
 277243,
 277244,
 277244,
 277244,
 277246,
 277249,
 277253,
 277256,
 277257,
 277261,
 277262,
 277265,
 277269,
 277271,
 277272,
 277272,
 277272,
 277272,
 277272,
 277272,
 277272,
 277272,
 277272,
 277272,
 277272,
 277274,
 277281,
 277284,
 277285,
 277291,
 277292,
 277293,
 277305,
 277314,
 277315,
 277315,
 277317,
 277334,
 277339,
 277341,
 277343,
 277348,
 277351,
 277351,
 277351,
 277351,
 277353,
 277358,
 277359,
 277359,
 277363,
 277363,
 277363,
 277364,
 277364,
 277367,
 277369,
 277371,
 277374,
 277378,
 277378,
 277378,
 277378,
 277378,
 277378,
 277378,
 277378,
 277378,
 277378,
 277379,
 277380,
 277384,
 277389,
 277392,
 277397,
 277399,
 277400,
 277400,
 277400,
 277400,
 277402,
 277424,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277427,
 277432,
 277433,
 277433,
 277435,
 277436,
 277436,
 277436,
 277436,
 277439,
 277439,
 277439,
 277439,
 277439,
 277439,
 277439,
 277439,
 277444,
 277457,
 277457,
 277462,
 277466,
 277466,
 277466,
 277466,
 277466,
 277469,
 277469,
 277470,
 277471,
 277471,
 277473,
 277474,
 277478,
 277478,
 277478,
 277478,
 277478,
 277478,
 277478,
 277478,
 277478,
 277478,
 277478,
 277478,
 277478,
 277478,
 277478,
 277478,
 277478,
 277478,
 277478,
 277478,
 277478,
 277478,
 277478,
 277478,
 277478,
 277478,
 277478,
 277478,
 277478,
 277478,
 277478,
 277478,
 277478,
 277478,
 277478,
 277478,
 277478,
 277478,
 277478,
 277478,
 277478,
 277478,
 277479,
 277486,
 277489,
 277502,
 277506,
 277508,
 277509,
 277509,
 277509,
 277509,
 277509,
 277509,
 277514,
 277514,
 277514,
 277516,
 277517,
 277517,
 277517,
 277517,
 277519,
 277523,
 277523,
 277523,
 277523,
 277523,
 277523,
 277523,
 277523,
 277523,
 277523,
 277523,
 277523,
 277523,
 277523,
 277523,
 277523,
 277523,
 277523,
 277523,
 277523,
 277523,
 277523,
 277523,
 277523,
 277523,
 277526,
 277527,
 277527,
 277527,
 277527,
 277527,
 277527,
 277527,
 277529,
 277532,
 277533,
 277533,
 277535,
 277535,
 277538,
 277544,
 277544,
 277547,
 277548,
 277554,
 277554,
 277554,
 277554,
 277556,
 277559,
 277562,
 277562,
 277562,
 277562,
 277562,
 277562,
 277562,
 277562,
 277562,
 277563,
 277563,
 277563,
 277563,
 277563,
 277563,
 277565,
 277565,
 277565,
 277565,
 277565,
 277565,
 277565,
 277568,
 277574,
 277575,
 277575,
 277575,
 277585,
 277585,
 277585,
 277585,
 277586,
 277588,
 ...]

In [43]:
b= list(df_rating['isbn'])
b.sort()
b

[0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 ...]

In [44]:
df_rating

         user_id          isbn  rating
1         276726  1.550612e+08       5
3         276729  0.000000e+00       3
4         276729  5.217950e+08       6
6         276736  3.257224e+09       8
7         276737  6.005710e+08       6
...          ...           ...     ...
1048430   250764  3.804866e+08       5
1048446   250764  3.807786e+08      10
1048494   250764  4.390986e+08       8
1048509   250764  4.402127e+08       9
1048571   250764  4.522645e+08       8

[397245 rows x 3 columns]

In [45]:
# Reindexing (Changing the columns)
df_rating.reindex (['isbn','user_id', 'rating'],axis=1)

                 isbn  user_id  rating
1        1.550612e+08   276726       5
3        0.000000e+00   276729       3
4        5.217950e+08   276729       6
6        3.257224e+09   276736       8
7        6.005710e+08   276737       6
...               ...      ...     ...
1048430  3.804866e+08   250764       5
1048446  3.807786e+08   250764      10
1048494  4.390986e+08   250764       8
1048509  4.402127e+08   250764       9
1048571  4.522645e+08   250764       8

[397245 rows x 3 columns]

In [46]:
df_feature = df_rating[['isbn','user_id']]
df_feature

                 isbn  user_id
1        1.550612e+08   276726
3        0.000000e+00   276729
4        5.217950e+08   276729
6        3.257224e+09   276736
7        6.005710e+08   276737
...               ...      ...
1048430  3.804866e+08   250764
1048446  3.807786e+08   250764
1048494  4.390986e+08   250764
1048509  4.402127e+08   250764
1048571  4.522645e+08   250764

[397245 rows x 2 columns]

In [47]:
df_rate = df_rating[['rating']]
df_rate

         rating
1             5
3             3
4             6
6             8
7             6
...         ...
1048430       5
1048446      10
1048494       8
1048509       9
1048571       8

[397245 rows x 1 columns]

In [48]:
from sklearn.model_selection import train_test_split

In [49]:
feature_train, feature_test, rating_train, rating_test = train_test_split (df_feature, df_rate, random_state=1)
print(feature_train.shape)
print(feature_test.shape)
print(rating_train.shape)
print(rating_test.shape)

(297933, 2)
(99312, 2)
(297933, 1)
(99312, 1)

In [50]:
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
linreg.fit(feature_train,rating_train)
feature_predict = linreg.predict(feature_test)
feature_predict

array([[7.62061344],
       [7.58825699],
       [7.59760743],
       ...,
       [7.59161328],
       [7.61470676],
       [7.60210871]])

In [51]:
from sklearn import metrics
import numpy as np

In [52]:
np.sqrt(metrics.mean_squared_error(rating_test,feature_predict))

1.8444222256862404